body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%; /* Ширина обертки */

  margin: auto; /* Автоматические отступы для центрирования */
  border: 1px solid #555; /* Граница для всего контента */
  border-radius: 10px; /* Скругленные углы обертки */
  overflow: hidden; /* Скрыть переполненный контент */
}

/* header{
  width: 549px;
height: 53px;
} */

/* Стили для общего контейнера */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 528px;
  height: 29px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid #555;
}

.header button,
.action-icons button {
  background: none;
  border: none;
  color: inherit;
}

/* Стили для логотипа в кнопке */
.header button img {
  width: 24px;
}

/* Стили для контейнера пользователя */
.user-container {
  display: flex;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
}

/* Стили для фото профиля */
.tweet-photo {
  border-radius: 50%;
  margin-right: 10px;
}

/* Стили для формы отправки */
.post-form {
  flex-grow: 1;
}

/* Стили для поля ввода */
.post-form input {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

/* Стили для кнопки 'Tweet' */
.heart-button .tweet {
  display: flex;
  justify-content: space-between;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 10px;
}

.reaction-button {
}
