/* body{
    margin-top: 5px;
}

.tweet {
}
.profile-section {
}
.profile-photo {
    
}
.logo-link {
}

h2 {
    color: #D9D9D9;
    font-size: 18px;
    margin-bottom: 15px;
}
.interactions {
  display: flex;
  height: 34px;
  padding-right: 0px;
  align-items: flex-start;
  gap: 52px;
}

button {
    background: var(--Black, #000);
    border-radius: 5px;
}

button img {
}

button span {
    color: #6E767D;
  gap: 12px;
} */

